@-webkit-keyframes nggallery-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes nggallery-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes nggallery-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nggallery-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gallery {
  height: 100%;
  width: 100%;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}
.gallery-item {
  text-align: center;
  height: 100%;
  white-space: nowrap;
  margin-top: 0;
  text-align: center;
}

.nggallery,
.nggallery *,
.nggallery *:before,
.nggallery *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nggallery {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}

.nggallery-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: nggallery-fadein 0.5s;
  animation: nggallery-fadein 0.5s;
}

.gallery-close-btn {
  position: absolute;
  top: 2%;
  left: 2%;
}

.gallery-next-btn {
  
}

.gallery-prev-btn {
  margin-right: 10px; 
}


.gallery-prev-next-container {
  position: absolute;
  top: 93%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.nggallery.nggallery-closing .nggallery-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: nggallery-fadeout 0.5s;
  animation: nggallery-fadeout 0.5s;
}

.nggallery-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-animation: nggallery-fadein 0.5s;
  animation: nggallery-fadein 0.5s;
}

.nggallery.nggallery-closing .nggallery-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: nggallery-fadeout 0.5s;
  animation: nggallery-fadeout 0.5s;
}

.nggallery-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

body.nggallery-open {
  overflow: hidden;
}

/* Animations */

.animate-show.ng-enter,
.animate-show.ng-leave,
.animate-show.ng-move {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  position: relative;
}
.animate-show.ng-enter,
.animate-show.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-show.ng-enter.ng-enter-active,
.animate-show.ng-leave,
.animate-show.ng-move.ng-move-active {
  opacity: 1;
}
.animate-show.ng-move {
  opacity: 0.5;
}
